<% if post.favorited?(current_user) %>
  <%= link_to post_favorites_path(post), method: :delete, remote: true, data: {"turbolinks" => false} do %>
    <span style="color:red;">❤︎</span>
  <% end %>
<% else %>
  <%= link_to post_favorites_path(post), method: :post, remote: true, data: {"turbolinks" => false} do %>
    <span style="color:black;">❤︎</span>
  <% end %>
<% end %>
