<div class= "container">
  <div class="search_form">
    <%= form_with url: search_posts_path, local: true, method: :get do |f| %>
      <div class="input-group">
        <%= f.text_field :keyword, class: "form-control",placeholder:"キーワードを入力" %>
        <%= button_tag type:f.submit, class:"btn btn-outline-success" do %>
          検索 <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>



  <div class="row row-cols-auto mb-5">
    <% @posts.each do |post| %>
    <%= render partial: "post", locals: { post: post } %>
    <% end %>
  </div>
</div>
