/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f9c107;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container-footer {
  width: auto;
  /* max-width: 680px; */
  padding: 0 15px;
}

.container-footer,
.text-muted {
  margin: 20px 0;
  text-align: center;
}
