.header_bar {
  background-color: darkblue;
  height: 80px;
  display: flex;
  justify-content: space-between;
}



.app-title a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding: 30px 15px;
}
