.w20 {
  width: 20%;
}

.login {
  margin-top: 50px;
}


.mypage {
  margin-top: 50px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.myname {
  margin: 2em 0;
  position: relative;
  padding: 0.25em 1em;
  border: solid 2px #ffcb8a;
  border-radius: 3px 0 3px 0;
}

.myname:before,
.myname:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 2px #ffcb8a;
  border-radius: 50%;
}

.myname:after {
  top: -12px;
  left: -12px;
}

.myname:before {
  bottom: -12px;
  right: -12px;
}

.myname h3 {
  text-align: center;
  margin: 0;
  padding: 0;
}
